@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: "Tajawal", sans-serif;
}

h1, h2 {
font-weight: 700; /* عنوان رئيسي */
}

#intro {
font-weight: 60; /* نص عادي */
}

/* شكل معين للنقاط الاساسية */
.service-title {
    position: relative;
    padding-right: 25px; /* مساحة للشكل */
  }
  
  .service-title::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0.4em;
    width: 12px;
    height: 12px;
    background-color: #D2B48C; /* بني فاتح */
    transform: rotate(45deg);
    opacity: 0;
    animation: fadeSlideIn 1s ease-out forwards;
  }

  .bani-square {
    width: 200px;
    height: 200px;
    background-color: #d8c8b3; /* This is a beige or "bani" color */
  }
  
  .card-cover {
    min-height: 500px; /* Ensures all cards have same height */
  }
  
  /* تعريف الأنيميشن */
  @keyframes fadeSlideIn {
    from {
      transform: translateX(10px) rotate(45deg);
      opacity: 0;
    }
    to {
      transform: translateX(0) rotate(45deg);
      opacity: 1;
    }
  }
  
  